<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<!-- Application Loggers -->
	<logger name="org.statefulj.concurrency">
		<level value="DEBUG" />
	</logger>
	
	<!-- Root Logger -->
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
